flows.json
[{"id":"c10e446e.5f85a8","type":"tab","label":"Flow","disabled":false,"info":""},{"id":"a2879d45.84872","type":"function","z":"c10e446e.5f85a8","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"7k1pPNCpAfr7VsM4ahxitz_57q3zJ2ua56Ai5FF14VLy\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["df7717a2.b0c988"]]},{"id":"df7717a2.b0c988","type":"http request","z":"c10e446e.5f85a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":368.9999952316284,"wires":[["69e42076.2b66e"]]},{"id":"8c59bbe3.c5c5d8","type":"debug","z":"c10e446e.5f85a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":918.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"69e42076.2b66e","type":"function","z":"c10e446e.5f85a8","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\nvar token=msg.payload.access_token\nvar instance_id=\"fc64b304-1ed9-4d10-a3db-97461e790964\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\",\"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":331.9999990463257,"wires":[["272fd385.fd45cc"]]},{"id":"272fd385.fd45cc","type":"http request","z":"c10e446e.5f85a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/a514fa3f-f8fc-4c13-a74f-b9bada9db101/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":769.5000076293945,"y":275.9999990463257,"wires":[["177d6a0.768c296"]]},{"id":"177d6a0.768c296","type":"function","z":"c10e446e.5f85a8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":171.60000133514404,"wires":[["ffba19b3.c464e8","8c59bbe3.c5c5d8"]]},{"id":"ffba19b3.c464e8","type":"ui_text","z":"c10e446e.5f85a8","group":"acacb787.f1ba08","order":2,"width":0,"height":0,"name":"","label":"DIAGNOSIS","format":"{{msg.payload}}","layout":"row-spread","x":817.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"2d7363a8.50343c","type":"ui_form","z":"c10e446e.5f85a8","name":"","label":"PARAMETERS","group":"acacb787.f1ba08","order":1,"width":0,"height":0,"options":[{"label":"MEAN RADIUS","value":"mr","type":"number","required":true,"rows":null},{"label":"MEAN TEXTURE","value":"mt","type":"number","required":true,"rows":null},{"label":"MEAN PERIMETER","value":"mp","type":"number","required":true,"rows":null},{"label":"MEAN AREA","value":"ma","type":"number","required":true,"rows":null},{"label":"MEAN SMOOTHNESS","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":420,"wires":[["a2879d45.84872"]]},{"id":"acacb787.f1ba08","type":"ui_group","z":"","name":"BREAST CANCER RISK PREDICTION","tab":"acb8ad82.88187","order":1,"disp":true,"width":"6","collapse":false},{"id":"acb8ad82.88187","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]